*{margin: 0;padding: 0;}
body{
    background-color:#f2f2f2; 
}
#db{
    background-color:#c20c0c;
    width:1349px;
    height:35px;
}
#db>ul{
    padding-left:265px;
}
#db>ul li{
    list-style-type: none;
    float: left;
    text-decoration: none;
    margin:7px 17px 0;
    padding: 0 13px;
    color:white;
    font-size:12px;
} 
#db>ul li:hover{
    background-color: #9B0909;
    display: inline-block;
    height: 20px;
    border-radius: 20px;
}

/* 轮播图 */
#lunb{
    width: 1349px;
    height: 336px;
    background-color:lightblue;
    position: relative; 
}
#car{
    overflow: hidden; 
    position: relative; 
    width: 730px;
    margin: 0 auto;
}
#ul-imgs{
    list-style: none;
}
#ul-imgs.transition{
    transition:all .5s linear;
  }
  #ul-imgs>li{
    width:730px;
    float:left;
  }
#btn-left,#btn-right{
    width: 60px;
    height:60px;
    cursor: pointer;
    background-repeat: no-repeat;
    position: absolute;
    top:50%;
    margin-top:-30px; 
}
#btn-left{
    background-image: url("../img/index/left_ar.png");
    left:100px;
}
#btn-right{
    background-image: url("../img/index/right_ar.png");
    left:1170px;
}
#ul-idxs{
    width:100px;
    list-style: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -50px;
}
#ul-idxs>li{
    width: 10px;
    height:10px;
    float: left;
    background-color:white;
    border-radius: 50%;
    margin: 0 5px;
}
#ul-idxs>li.active{
    background-color:red;
}

#gedan{
    width:729px;
    height:1525px;
    background-color:white;
    margin-left: 185px;
}
#gedan #gd1{
    width: 689px;
    height:523px;
    margin: 20px;
    background-color:#f5f5f5;
}
#gedan #gd1>#tit{
    height: 35px;
    border-bottom: 2px solid rgb(158, 27, 27);
    position: relative;
}
#gedan #gd1>#tit #tab{
    width: 240px;
    height: 16px;
    float: left;
    margin-left: 160px;
    padding-top:7px;
}
#gedan #gd1>#tit #tab i{
    font-style: normal;
}
.lo{
    width: 25px;
    height: 25px;
    position: absolute;
    left:26px;
    top:5px;
}
.re{
    position: absolute;
    text-decoration: none;
    font-size:20px;
    padding-left: 65px;
    padding-top:3px;
    color:black;
}
.tit1{
    padding-top:5px;
    padding-right: 5px;
    text-decoration: none;
    font-size:12px;
    color:black;
}
.u-cover{
    list-style: none;
  
}
.u-cover1{
    display: block;
    width: 140px;
    height:204px;
    float: left;
    padding:20px 0px 13px 26px;
}
.u-cover>.u-cover1 .u-text{
    font-size: 15px;
}
img.tu{
    width:140px;
    height:140px;
}

#gd2{
    width: 689px;
    height: 243px;
    margin-left: 20px;
    margin-top:80px;
}
#gedan #gd2>#tit{
    height: 35px;
    border-bottom: 2px solid rgb(158, 27, 27);
    position: relative;
}
/* 轮播 */
#gedan #gd2 #album{
    width:687px;
    height: 186px;
    background-color:#f5f5f5;
    margin-top:20px;
    position: relative;
    border: 1px solid #ccc;
}
#gedan #gd2 #album #al-lun{
    width: 645px;
    height: 180px;
    overflow: hidden;
    margin: auto;
    
}
#gedan #gd2 #album #al-lun #al-imgs {
   width: 2580px;
   height: 155px; 
   /* float: left; */
} 
#gedan #gd2 #album #al-lun #al-imgs .al-li{
    width: 645px;
    list-style: none;
    float: left;
}
#gedan #gd2 #album #al-lun #al-imgs .al-li ul{
    width: 645px;
    height: 150px;
}
 #gedan #gd2 #album>#al-lun #al-imgs .al-li .al-tu{  
    float: left; 
    margin-left: 10px;
    display: block;
    width:118px;
    height: 100px;
    margin-top:20px;
} 
#gedan #gd2 #album #al-lun ul .al-tu i{
    font-style: normal;
    display: block;
    font-size:13px;
    color:black;
    list-style: none;
}
#gedan #gd2 #album  #left,
#gedan #gd2 #album #right{
    width:30px;
    height:30px;
    cursor: pointer;
    background-repeat: no-repeat;
    position: absolute;   
}  
#gedan #gd2 #album #left{
    background-image: url("../img/al/left.png");
    margin-top:66px; 
}
#gedan #gd2 #album #right{
    float:right;
    background-image: url("../img/al/right.png");
    left:662px;
    margin-top:-114px;
} 
#al-imgs.transition{
    transition:all .5s linear;
  }
#gedan #gd3{
    width: 689px;
    height: 600px;
    /* background-color: paleturquoise; */
    margin-top: 76px;
    margin-left: 20px;
    position: relative;
}
#gedan #gd3>#tit{
    height: 35px;
    border-bottom: 2px solid rgb(158, 27, 27);
    position: relative;
}
#gedan #gd3 table{
    width: 689px;
    height: 474px;
    background-color: #f5f5f5;
    position: absolute;
    margin-top:30px;
    border:1px solid #ccc;
    border-collapse:collapse; 
}
#gedan #gd3 table th{
    height: 120px;
    border-right: 1px solid #ccc;
}
#gedan #gd3 table td{
    height: 32px;
    font-size:13px;
    border-right:1px solid #ccc;
}
 #gedan #gd3 table tr:nth-child(2n){
    background-color: rgb(233, 231, 231);
} 
#gedan #gd3 table .t-img{
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 15px;
}
#gedan #gd3 table .t-text{
    width: 116px;
    height: 51px;
    margin-left:103px;
}
#gedan #gd3 table th .t-text a{
    font-size:14px;
    color:#333;
    text-decoration: none;
}
#gedan #gd3 table tr .tr-a{
    text-decoration: none;
    color: #333;
    margin-left: 27px;
}
#gedan #gd3 table tr .tr-at{
    text-decoration: none;
    color: #333;
    margin-left: 146px;
}
#gedan #gd3 table tr .tr-a .tr-tu{
    width: 18px;
    height:18px;
    float: right;
    margin-right: 5px;
    display: none;
}
#gedan #gd3 table tr td:hover .tr-tu{
    display: block;
}
.but{
    position: fixed;
    right: 20px;
    top:580px;
    padding: 5px;
    width: 74px;
    height: 51px;
    line-height: 40px;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
}
.but>a:link{
    color:#a5a1a1;
}
.but>a:visited{
    color:#a5a1a1;
}
.but>a:hover{
    color:#a5a1a1;
}
.but>a:active{
    color:#a5a1a1;
}
#sing{
    width:250px;
    height: 777px;
    float: right;
    margin-right:145px;
    background-color: white;
    margin-top: -1501px;
    border:1px solid #ccc;
}
#sing>.hd3{
    width: 210px;
    height:24px;
    margin:15px 20px;
    position: relative;
    border-bottom: 1px solid #ccc;
}
#sing>.hd3 span{
    float: left;
    color:#333;
    font-size: 13px;
    margin-top:0px;
}
#sing>.hd3 a{
    text-decoration: none;
    color:#333;
    font-size: 13px;
    float: right;
}
#sing a.tdn{
    display:inline-block;
    width:210px;
    height:62px;
    background-color: #f5f5f5;
    margin:15px 20px;
    border:1px solid #ccc;
    position: relative;
}
#sing a.tdn .intru{
    display: inline-block;
    width: 148px;
    height: 62px;
    margin-left:10px;
    position: absolute;
}