*{margin:0;padding:0;}
.top{
    display: flex;
    height:70px;
    width:auto;
    min-width: 1279px;
    background-color:#000;
}
.logo1{
    width:35px;
    height:35px;
    border-radius:50%;
    margin-top:17px;
    margin-left:120px;
}
.logo1_t{
    text-decoration: none;
    font-size:21px;
    color:white;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 159px;
    margin-top:-40px; 
    letter-spacing:3px;
}
.nav{
    padding-left:8px;
    margin-top: 27px;
    display: inline-block;
    width: 50%;
    height: 50px;
}
.nav-1{
    float: left; 
    padding: 0px 20px;
    list-style:none;
    font-size:14px; 
    color:#ccc;
    height: 25px;
    width: auto;
    /* margin: -30px 5px 175px 40px; */
}
.nav-1 a{
    font-size:14px; 
    color:#ccc;
    text-decoration: none;
    
}
em{
    font-style: normal;
}
.nav-1 a:hover{
   cursor: pointer;
   color:white; 
}
#serach
{
    display: inline-block;
}
#serach>input{
    width: 153px;
    height: 29px;
    border-radius: 32px;
    float: right; 
    margin-top:18px;
    margin-left: -104px;
    background-image: url(img/header/search1.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 126px 8px;
}
.nav1{
    margin-top:32px;
    padding-left:15px; 
}
ul.nav1>li:nth-child(2)>ul{
    position: absolute;
    right:30px;
    list-style: none;
    width: 125px;
    line-height: 30px;
    padding-left: 20px;
    background-color: #000; 
}
ul.nav1>li:nth-child(2)>ul{
    display:none;
}
ul.nav1>li:nth-child(2):hover>ul{
    display: block;
}