*{margin:0;padding:0;}
.top{
    height:70px;
    width:auto;
    background-color:#000;
}
.logo1{
    width:35px;
    height:35px;
    border-radius:50%;
    margin-top:17px;
    margin-left:130px;
}
.logo1_t{
    text-decoration: none;
    font-size:23px;
    color:white;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 174px;
     margin-top:-40px; 
     letter-spacing:3px;
}
.nav{
   margin-left: 200px;
}
.nav-1{
    float: left;
    list-style:none;
    font-size:14px; 
    color:#ccc;
    margin: -23px -80px 30px 133px;
}
em{
    font-style: normal;
}
.nav-1:hover{
   cursor: pointer;
   color:white; 
}
#serach>input{
    width: 153px;
    height: 29px;
    border-radius: 32px;
    float: right;
    margin-top:-31px;
    margin-right:241px;
    /* background-image: url(img/header/search1.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10px 8px; */
}
/* .se{
    position: absolute;
    margin-top:5px;
    margin-left: 5px;
} */
#input_after::after
{
    width: 45px;
    height: 40px;
    display: inline-block;
    position: relative;
    content: "jjjjjjjjjjjjjjjjjjjjjjj";
    background:white url(img/header/search1.png) no-repeat scroll;
    left: 55px;
    top: 15px;
}
