*{margin:0;padding:0;}
.top{
    display: flex;
    height:70px;
    width:100%;
    min-width: 1279px;
    background-color:#000;
}
.logo1{
    width:35px;
    height:35px;
    border-radius:50%;
    margin-top:17px;
    margin-left:120px;
}
.logo1_t{
    text-decoration: none;
    font-size:21px;
    color:white;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 159px;
    margin-top:-40px; 
    letter-spacing:3px;
}
.nav{
    padding-left:8px;
    margin-top: 27px;
    display: inline-block;
    width: 50%;
    height: 50px;
}
.nav-1{
    float: left; 
    padding: 0px 20px;
    list-style:none;
    font-size:14px; 
    color:#ccc;
    height: 25px;
    width: auto;
    
}
ul.nav1>li.nav-1:nth-child(2){
    position: relative;
}
ul.nav1>li:nth-child(2)>ul{
    position: absolute;
    list-style: none;
    width: 125px;
    line-height: 40px;
    padding-left: 20px;
    background-color: #000; 
}

.top ul.nav>li.nav-1:nth-child(6){
    position: relative;   
}
.top ul.nav>li.nav-1:nth-child(6):hover .nav-ewm{
    display: block;
}
.top .nav .nav-1 .nav-ewm{
    width: 120px;
    height: 120px;
    background-color: #000;
    text-align: center;
    margin-top:30px;
    margin-left: -14px;
    z-index: 100;
    position: absolute;
    display: none;
}
.nav-1 a{
    font-size:14px; 
    color:#ccc;
    text-decoration: none;   
}
.nav-1 a:hover{
   cursor: pointer;
   color:white; 
}
#serach
{
    display: inline-block;
}
#serach>input{
    width: 153px;
    height: 29px;
    border-radius: 32px;
    float: right; 
    margin-top:18px;
    margin-left: -104px;
    background-image: url("../img/header/search1.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 126px 8px;
}
.nav1{
    margin-top:32px;
    padding-left:38px; 
    
}

ul.nav1>li:nth-child(2)>ul{
    display:none;
    z-index: 100;
}
ul.nav1>li:nth-child(2):hover>ul{
    display: block;
}
ul.nav1>li:nth-child(6){
    position: relative;
}
ul.nav>li.nav-1:nth-child(6) .erwm{
    width: 140px;
    height: 140px;
    position: absolute;
    z-index: 100;
    text-align: center;
    background-color: #333;
    margin-top: 30px;
    margin-left: -25px;
    display: none;
}
ul.nav>li.nav-1:nth-child(6):hover .erwm{
    display: block;
}
